.root{
    -fx-min-height: 1080;
    -fx-min-width: 1920;
    -fx-background-image: url("nightSky.jpg"); /*https://www.pexels.com/search/universe/*/
    -fx-background-repeat: stretch;
    -fx-background-size: 2000 1200;
    -fx-background-position: center center;
    -fx-text-fill: white;
}

#centerGrid{
    /*-fx-max-width: 1100px;
    -fx-min-width: 1100px;
    -fx-max-height: 1200px;
    -fx-min-height: 1200px;*/
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-max-height: 45px;
    -fx-min-height: 45px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-border-width: 5px;
    -fx-border-color:#9ebe67 ;
    -fx-border-radius: 6px;
}
.label:hover{
    -fx-cursor: OPEN_HAND;
}

.tooltip{
}

.image-view{
    -fx-translate-x: 33px;
    -fx-translate-y: 25px;
}

.table-view{
    -fx-max-width: 250px;
    -fx-translate-x: 25px;
}
.table-view .label{
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-border-width: 0px;
    -fx-max-width: 250px;
    -fx-max-height: 50px;
}

.text-field{
    -fx-max-width: 250px;
    -fx-min-width: 250px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-translate-x: 25px;
}

#hamburgerMenuLeft{
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 700px;
    -fx-background-image: url("forestNight.jpg.jpg");
    -fx-border-width: 0 5 0 0;
    -fx-border-color: #9ebe67;
}

#hamburgerMenuRight{
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 700px;
    -fx-background-image: url("forestNight.jpg.jpg");
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #9ebe67;
}

#profilePicture{
    -fx-border-width: 1px;
    -fx-border-color:#9ebe67 ;
    -fx-translate-x: 0px;
    -fx-translate-y: 0px;
}

#settingsButton{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-color:#9ebe67 ;
    -fx-border-radius: 6px;
}
#settingsButton:hover{
    -fx-background-color:
            #07080a,
            linear-gradient(#38424b 10%, #1f2429 30%, #191d22 110%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 110%, rgba(114,131,148,1), rgba(255,255,255,0.1));
    -fx-cursor: hand;
}
#settingsButton:pressed{
    -fx-background-color:
            #07080a,
            linear-gradient(#38424b 00%, #1f2429 0%, #191d22 50%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 50%, rgba(114,131,148,0,5), rgba(255,255,255,0.0));
}

#leaderActionButton {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-font-size: 20;
    -fx-border-width: 1px;
    -fx-border-color:#9ebe67 ;
    -fx-border-radius: 6px;
}#leaderActionButton:hover{
     -fx-background-color:
             #07080a,
             linear-gradient(#38424b 10%, #1f2429 30%, #191d22 110%),
             linear-gradient(#20262b, #191d22),
             radial-gradient(center 50% 0%, radius 110%, rgba(114,131,148,1), rgba(255,255,255,0.1));
    -fx-cursor: hand;
 }
#leaderActionButton:pressed{
    -fx-background-color:
            #07080a,
            linear-gradient(#38424b 00%, #1f2429 0%, #191d22 50%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 50%, rgba(114,131,148,0,5), rgba(255,255,255,0.0));
}

#username{
    -fx-border-width: 5 5 0 5;
    -fx-border-radius: 5 5 0 0;
}

#yourPoints{
    -fx-border-width: 0 5 5 5;
    -fx-border-radius: 0 0 5 5;
}

#timeTillPointLoss{
    -fx-border-width: 5 5 0 5;
    -fx-border-radius: 5 5 0 0;
}

#pointLoss{
    -fx-border-width: 0 5 5 5;
    -fx-text-fill: red;
    -fx-border-radius: 0 0 5 5;
}

#hamburgerButton:hover{
    -fx-cursor: HAND;
}

#followLabel{
    -fx-border-width: 0px;
    -fx-max-height: 30px;
    -fx-font-size: 20px;
    -fx-translate-x: 50px;
    -fx-translate-y: 25px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

#newFollowLabel{
    -fx-border-width: 0px;
    -fx-max-height: 30px;
    -fx-font-size: 20px;
    -fx-translate-x: 50px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}




